<div class="container">
  <div class="row">
    <div class="container d-flex justify-content-center mt-5 mb-5 align-items-center input-container">
      <input class="inputTask" [(ngModel)]="newTodo"/>
      <button class="btn_submit" (click)="saveTodo()">Создать задачу</button>
    </div>
    <table class="table">
      <tbody>
      <tr *ngFor="let todo of todos;let i = index;">
        <td>{{todo.name}} </td>
        <td (click)="deleteItem(todo.id)">X</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
